@import "../../sass/main";

.herobox__signup{
	flex: 40%;
	width:40%;
}

.form__container{
	background: $white;
  margin-top: 3rem;
	border-radius: 0.8rem;
	padding:2rem 0rem;
	
	.form{
		width:100%;
	}	
}